<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<h1>Demande de création de compte</h1>
		<p>
			Bonjour
			{{ user.email }}
			et bienvenue sur le site TRT Conseil.<br><br>
			Nous avons bien reçu votre demande de création de compte.
			<br><br>
			Un de nos consultant doit approuver votre demande d'inscription avant que vous puissiez accéder à votre compte.
			<br>
			Une fois la demande d'inscription validée, vous recevrez un mail de confirmation afin d'activer votre profil.
			<br>
			Lorsque votre compte sera activé, vous pourrez compléter votre profil et bénéficiez des services de TRT Conseil.
			<br><br>
			Toute l'équipe de TRT Conseil vous remercie pour votre confiance et vous souhaite une belle journée.
			<br><br>
			L'équipe TRT Conseil
			<br><br>
			<strong>Ceci est un mail automatique, merci de ne pas y répondre</strong>
		</p>
	</body>
</html>
