<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<h1>Candidature refusée</h1>
		<p>
			Bonjour, , vous avez postuler à une offre d'emploi :
			<ul>
				<li>Pour la société :
					{{ jobOffer.recruiter.companyName }}</li>
				<li>Poste recherché :
					{{ jobOffer.title }}</li>
			</ul>
			<br><br>
			Malheureusement votre candidature n'a pas été acceptée.
			<br><br>
			Nous vous souhaitons bon courage dans vos recherches.
			<br><br>
			L'équipe TRT Conseil
			<br><br>
			<strong>Ceci est un mail automatique, merci de ne pas y répondre</strong>
		</p>
	</body>
</html>
